<header class="flex h-16 items-center justify-between border-b border-unel-crema-2 bg-white px-6">
  <div class="flex items-center gap-4">
    <button
      type="button"
      data-action="admin-sidebar#toggle"
      class="rounded-xl p-2 text-unel-humo transition hover:bg-unel-crema hover:text-unel-negro"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

    </button>

    <!--<form
      action="<%= content_for?(:admin_search_path) ? yield(:admin_search_path) : request.path %>"
      method="get"
      class="hidden items-center rounded-xl bg-unel-crema px-4 py-2 md:flex"
    >
      <span class="mr-2 text-sm text-unel-humo">⌕</span>

      <input
        type="text"
        name="q"
        value="<%= params[:q] %>"
        placeholder="<%= content_for?(:admin_search_placeholder) ? yield(:admin_search_placeholder) : 'Buscar en el panel...' %>"
        class="w-64 bg-transparent text-sm text-unel-negro outline-none placeholder:text-unel-humo"
      >
    </form>-->
    <% if content_for?(:admin_section_inner) %>
      <span class="hidden rounded-full border border-unel-crema-2 px-3 py-1 text-xs font-semibold text-unel-humo md:inline-flex">
        <%= yield(:admin_section_inner) %>
      </span>
    <% end %>
  </div>

  <div class="flex items-center gap-4">
    

    <button
      type="button"
      class="relative rounded-xl p-2 text-unel-humo transition hover:bg-unel-crema hover:text-unel-negro"
      title="Notificaciones"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
        </svg>

      <span class="absolute right-1 top-1 h-2 w-2 rounded-full bg-unel-dorado"></span>
    </button>

    <div class="flex items-center gap-3 border-l border-unel-crema-2 pl-4">
      <div class="hidden text-right sm:block">
        <p class="text-sm font-semibold text-unel-negro">
          <%= current_admin.email if defined?(current_admin) && current_admin.present? %>
        </p>

        <p class="text-xs text-unel-humo">
          Administrador
        </p>
      </div>

      <div class="flex h-10 w-10 items-center justify-center rounded-full bg-unel-verde text-sm font-bold text-unel-blanco">
        U
      </div>
    </div>
  </div>
</header>