<!DOCTYPE html>
<html>
  <head>
    <title>UNEL - Panel de Administración</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen bg-unel-blanco text-unel-negro">

    <div data-controller="admin-sidebar" class="flex min-h-screen">
      <%= render "admin/shared/sidebar" %>

      <div class="flex min-h-screen min-w-0 flex-1 flex-col">
        <%= render "admin/shared/topbar" %>

        <main class="flex-1 overflow-y-auto p-8">

          <%= render "admin/shared/flash" %>
          <%= yield %>
        </main>
      </div>
    </div>

  </body>
</html>
