<!DOCTYPE html>
<html>
  <head>
    <title>UNEL - Panel de Administración</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Estas son las conexiones mágicas de Rails con Tailwind. 
         Si en tu application.html.erb original son distintas, usa las tuyas -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="min-h-screen bg-unel-blanco text-unel-negro">

  <div class="flex min-h-screen">
    <%= render "admin/shared/sidebar" %>

    <div class="flex min-h-screen flex-1 flex-col">
      <%= render "admin/shared/topbar" %>

      <main class="flex-1 overflow-y-auto p-8">
        <%= yield %>
      </main>
    </div>
  </div>
  
</body>
</html>
